<!DOCTYPE html>
<html>
<head>
	<title>Lista de nomes</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="app">
		<header class="header">

			

		</header>
		<section class="container">
			<section class="container__content">
					
						<label for="name">Digite um nome:</label>
						<input type="text" id="name" v-model="nameInput"></form><br>
						<input @click="onSubmit" type="submit" value="Adicionar">
					
				

			</section>
			<aside class="container__sidebar">

				<div >
					<ul>
						<li v-for="name in names">{{name}}</li>
					</ul>
					<p>Total de contatos: {{names.length}}</p>
				</div>


			</aside>
		</section>
		<footer class="footer">

			

		</footer>
	</div>

	<script src="script.js"></script>
</body>
</html>